#trabaja {
  background: url(../../images/trabaja/bannerTrabaja.jpg) no-repeat top;
  background-attachment: fixed;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-size: cover;
}

.md-form label {
  font-size: 0.8rem !important;
}

.card {
  background: rgb(0, 138, 203, 0.5) !important;
}
.md-form label {
  color: white !important;
}

.md-form input[type="date"],
.md-form input[type="datetime-local"],
.md-form input[type="email"],
.md-form input[type="number"],
.md-form input[type="password"],
.md-form input[type="search-md"],
.md-form input[type="search"],
.md-form input[type="tel"],
.md-form input[type="text"],
.md-form input[type="time"],
.md-form input[type="url"],
.md-form textarea.md-textarea {
  color: white !important;
}

.pt-7 {
  padding-top: 14em !important;
}

.btnfondo {
  /* background-color: #008acb; */
  background: #16325c;
  color: white !important;
  border-radius: 2rem !important;
  text-decoration: underline white !important;
}

.btnfondo :hover {
  text-decoration: underline white !important;
}

.title-agencia p {
  color: black;
  font-family: "Futura Light";
  padding-bottom: 1em;
}

.title-agencia h1 {
  color: black;
  font-family: "Futura Heavy";
  text-align: center;
}

.title-description-contact {
  color: white;
  text-align: center;
  font-family: "Futura Heavy";
  border-bottom: 2px solid white;
}
