.fondo{
  background: #da5963 ;
}

.fondo_triangulo {
  border-bottom: 20px solid #da5963;
}

.fondo2{
  background: #e08964 ;
}

.fondo_triangulo2 {
  border-bottom: 20px solid #e08964;
}


.fondo3{
  background: #ff7288 ;
}

.fondo_triangulo3 {
  border-bottom: 20px solid #ff7288;
}

.fondo4{
  background: #b7498a ;
}

.fondo_triangulo4 {
  border-bottom: 20px solid #b7498a;
}

.fondo5{
  background: #8760ff ;
}

.fondo_triangulo5 {
  border-bottom: 20px solid #8760ff;
}

.fondo6{
  background: #858aff;
}

.fondo_triangulo6 {
  border-bottom: 20px solid #858aff;
}

.fondo7{
  background: #658aff;
}

.fondo_triangulo7 {
  border-bottom: 20px solid #658aff;
}


