.fondo{
  background: #e6895e;
}

.fondo_triangulo {
  border-bottom: 20px solid #e6895e;
}

.fondo2{
  background: #ad7d49;
}

.fondo_triangulo2 {
  border-bottom: 20px solid #ad7d49;
}

.fondo3{
  background: #a24242;
}

.fondo_triangulo3 {
  border-bottom: 20px solid #a24242;
}

.fondo4{
  background: #d98959;
}

.fondo_triangulo4 {
  border-bottom: 20px solid #d98959;
}

.fondo5{
  background: #ca638d;
}

.fondo_triangulo5 {
  border-bottom: 20px solid #ca638d;
}

.fondo6{
  background: #866aff;
}

.fondo_triangulo6 {
  border-bottom: 20px solid #866aff;
}

.fondo7{
  background: #008973;
}

.fondo_triangulo7 {
  border-bottom: 20px solid #008973;
}

.fondo8{
  background: #d1996c;
}

.fondo_triangulo8 {
  border-bottom: 20px solid #d1996c;
}